.scene {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #252525;
}

.board {
  position: absolute;
}

.card {
  background-color: white;
  width: 200px;
  height: 100px;
  border-radius: 8px;
  position: absolute;
}